.card-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  max-width: 900px;
  max-height: 900px;
  margin: 0 auto;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.card-img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


/* Resposive tu coco */
@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 100px;
  }

  .card-img {
    width: 100px;
    height: 140px;
  }
}

@media (max-width: 480px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .card-img {
    width: 80px;
    height: 110px;
  }
}